@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-icon {
  stroke-width: 1;
  fill: currentColor;
}

#SideNavMain,
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
}

/* Ẩn thanh scrollbar cho WebKit (Chrome, Safari, Edge) */
#SideNavMain::-webkit-scrollbar,
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
